{% extends 'base.html' %}
{% block title %}Add Category{% endblock %}
{% block content %}
    <div class="container">
    <div class="row d-flex card-product-margin">
        <div class="col-4 card card-padding">
            <form action="{% url 'category_add' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <h2>Add Category</h2>
                </div>
                <div class="mb-3">
                    <input type="text" id="title" name="title" class="form-control"
                           placeholder="Title">
                </div>
                <div class="mb-3">
                    <textarea id="description" name="description" rows="10" cols="42"
                              placeholder="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add category</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}